


body{
    justify-content: center;
   
}



.modal-container{
    background-color: rgb(8, 8, 8);
    display: grid;
    grid-template-columns:1fr 1fr;
   padding:1.5rem;
   height: 200px;
   width: 700px;
   box-shadow: rgb(133, 145, 136) 5px 6px;
   border-radius: 20px;
   text-transform: capitalize;
   font-weight: lighter;
    
    
}
body{
    background-color: aqua;
}
.btn{
    padding:0;
}